* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

html, body {
    height: 100%;
    overflow-x: hidden; 
}

a {
    text-decoration: none;
  
  }
  a:hover{
    color:red;
  }

.container {
    display: grid;
    grid-template-columns: 20% 1fr 20%; 
    gap: 0px; 
    height: 100%;
    grid-auto-rows: minmax(10,auto);
}

.item {
    box-shadow: 0 0 0 0.5px black;
    padding: 10px;
    
}

.item_1 {
    background-color: rgb(245, 234, 76);
    grid-column: 1 / 4; 
    height: 13.5vh;
}

.item_2 {
    background-color: rgb(245, 234, 76);
    grid-column: 1 / 2; 
    grid-row: 2;
    height: 72.5vh;
    width: 100%; 
    font-size: 30px;
    align-content: center;
}

.item_2 ul{
    margin-left: 30px;
    font-size: 25px;
  }

.item_3 {
    background-color: rgb(245, 234, 76);
    grid-column: 2 / 3; 
    grid-row: 2; 
    height: 7vh;
    justify-self: center;
    width: 100%; 
    text-align: center;
}

.item_4 {
    background-color: rgb(245, 234, 76);
    grid-column: 3 / 4;
    grid-row: 2;
    height: 59vh;
    width: 100%;
}
.item_4 ul{
    margin-left: 30px;
    font-size: 25px;
  }
  .item_4 h2 {
    font-size: 30px;
  }

  .item_5 {
    background-color: rgb(245, 234, 76);
    grid-column: 2 / 3;
    grid-row: 2;
    align-self: end;
    height: 65.4vh;
    width: 99.9%;
    display: grid;
    justify-content: center; 
    align-items: center; 
}

.item_5 img {
    width: 90vh;
   
    object-fit: contain; 
}

.item_6 {
    background-color: rgb(245, 234, 76);
    grid-column: 3 / 4;
    grid-row: 2;
    align-self: end;
    height: 13.5vh;
    width: 100%; 
    font-size: 25px;
    align-content: center ;
}

.item_7 {
    background-color: rgb(52, 52, 52);
    grid-column: 2 / 3;
    grid-column: 1 / 4; 
    height: 14vh;
    text-align: center;
    
}

.item_7 h1 {
    margin: 0;
    text-align: end;
    font-size: 30px;
}

.item_7 p{
    font-size:20px
}


.item_3 p{
    font-size:40px
}



.item_5 img {
    max-width: 100%; 
    height: auto; 
    display: block;
  }

  @media (max-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 1fr; 
        grid-template-rows: auto ; 
        gap: 0; /* Убираем зазоры между строками */
    }

    .item {
        grid-column: 1 / 2; 
        font-size: 1.8vw;
        margin: 0;
        
    }

    .item_1 {
        grid-row: 1;
        height: auto ;
        
    }
    .item_1 p{
        font-size: clamp(1rem, 2vw, 2.5rem);
        
    }
    
    .item_1 h1{
        font-size: clamp(1.5rem, 1.85rem, 2rem);
    }

    .item_3 {
        grid-row: 2;
        height: auto;
        font-size: 3vw;
    }

    .item_5 {
        grid-row: 3; 
        height: auto;
    }

    .item_4 {
        grid-row: 4;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }
    
    .item_4 ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0; 
    }
    
    .item_4 ul li {
        margin-right: 1rem;
        font-size: 3vw;
    }
    
    .item_4 h2 {
        margin: 0;
        text-align: right;
        font-size: clamp(1.2rem, 3vw, 2.8rem);
    }

    .item_2 {
        grid-row: 5;
        height: auto;
    }
    .item_2 ul {
        text-align: center; 
        padding: 0; 
        margin: 0;
        list-style: none;
    }
    
    .item_2 ul li {
        display: inline;
        margin: 0 10px; 
        font-size: clamp(1rem, 3.5vw, 4rem);
    }

    .item_6 {
        grid-row: 6;
        height: auto;
        font-size: clamp(1rem, 2.5vw, 2rem);
        text-align: center;
    }

    .item_7 {
        grid-row: 7;
        height: auto;
        text-align: start;
    }

    .item_5 img {
        width: 100%;
        height: 50.5vh;
        display: block;
        margin: 0; 
        padding: 0; 
    }
    .item_7 p {
        text-align: center;
        font-size: clamp(1rem, 2.5vw, 2rem);
    }

    .item_7 h1 {
        margin: 0;
        text-align: end;
        font-size: clamp(1rem, 2vw, 2.5rem);
    }

}